body{
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 20% 80%; 
  height: 100vh;
  margin: 0; 
  background-color: #f5f5f5;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content:left;
  background-color: #1992d4;
  width: 100%;
  unicode-bidi: isolate;
}

aside.collapsed{
  width: 60px;
}

#right{
  display: grid;
}

#DashboardLogo img{
  width: 30%;
  margin-right: 2rem;
  margin-left: 1rem;
}

#DashboardLogo{
  display:flex;
  flex-direction:row ;
  font-size: 50%;
  unicode-bidi: isolate-override ;
}

#search img{
  width: 20px;
  margin-right: 10px;
}

#search{
  display: grid;
  grid-template-columns: 60px 2fr;
  margin-top: 10px;
  align-items:start ;
}

.Directory img{
  height: 2em;
  width: 2em;
  background: transparent;
  mix-blend-mode: darken;
  margin-right: 10px;
}

.Directory a{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Directory{
  padding: 10px;
}

#upper-header{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 7 0px;
}

.notification, #profilepicturesmall{
  height: 20px;
  width: 20px;
}

#user{
  margin-left: 250px;
}

#lower-header{
  background-color: greenyellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

#userHi{
  display: flex;
  flex-direction: flex;
  align-items: center;
}

#userHi img{
  height: 40px;
  width: 40px;
  margin-right:18px ;
  margin-left: 30px;
}

#userHi p, #userHi h4{
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  overflow: hidden;
  word-break: break-word;
}

#activities-button{
  display:grid ;
  grid-template-columns: 90px 90px 90px;
  justify-content: center ;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding-left: 30px;
  padding-right: 30px;
}

#content{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#content-left{
  display: grid;
  grid-template-rows:80px 1fr;
}

#your-projects{
  margin: 0;
  margin-top: 30px;
  margin-left: 15px;
}

#content-right h3, #your-projects{
  font-size: 20px;
}

#content-grid h3, #content-grid p{
  word-break: break-word;
  margin-top: 0;
}

#content-grid h3{
  font-size: 18px;
  margin-top: 33px;
}

#content-grid p{
  color: rgb(109, 108, 108);
}

#content-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-column-gap:1.4em ;
  grid-row-gap:1.4em ;
  padding-left: 30px;
  overflow: auto;
}

#content-grid article{
  border: none;
  border-radius: 8px;
  border-top-left-radius:0px ;
  background-color: white;
  display: grid;
  grid-template-rows: 50px 120px 30px;
  align-items: center;
  unicode-bidi: isolate-override;
  width: 85%;
  height: 220px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 35px;
  box-shadow: -6px 0px 0px 0px #ffbb3d;
  cursor: default;
}

.projectsIcon{
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-top: 10px;
}

.Icon{
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition-duration: 350ms;
}

.Icon:hover{
  width: 35px;
  height: 35px;
  filter: drop-shadow(0 0 0 8px black) ;
  transition-duration: 250ms;
}

.Icon:active{
  width: 39px;
  height: 39px;
}

#content-right{
  padding-left: 15px;
  margin-right:20px ;
}

#content-right article{
  border: none;
  border-radius: 13px;
  background-color: white;
  padding:0.5em 1em;
  box-shadow: 3px 3px 5px 0px #d1d1d1;
  margin: 0;
  margin-right:10px ;
  cursor:default;
}

#content-right p{
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: small;
  word-wrap: break-word;
  margin-bottom: 30px;
  border-bottom: 0.7px solid ;
}

#content-right p:last-child{
  border-bottom: none;
  padding-bottom: 0px;
}

#content-right h4{
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

footer {
  font-size: 0.8em;
  padding: 1em 0;
  text-align: center;
  background-color: lightseagreen;
  transition: var(--base-transition);
}